#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    quick-tap-ms = <100>;
};

/ {
    combos {
        compatible = "zmk,combos";

        qw-escape {
            bindings = <&kp ESC>;
            key-positions = <1 2>;
        };

        kp-return {
            bindings = <&kp RET>;
            key-positions = <18 19>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // --------------------------------------------------------------------------------------
            // |      |  Q  |  W  |  E  |  R  |  T  |         |  Y  |  U   |  I  |  O  |  P  |      |
            // |      |  A  |  S  |  D  |  F  |  G  |         |  H  |  J   |  K  |  L  |  ;  |      |
            // |      |  Z  |  X  |  C  |  V  |  B  |         |  N  |  M   |  ,  |  .  |  /  |      |
            //
            //                      | GUI | LWR | SPC |     | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q  &kp W  &kp E      &kp R           &kp T    &kp Y  &kp U            &kp I      &kp O    &kp P     &none
&none  &kp A  &kp S  &kp D      &kp F           &kp G    &kp H  &kp J            &kp K      &kp L    &kp SEMI  &none
&none  &kp Z  &kp X  &kp C      &kp V           &kp B    &kp N  &kp M            &kp COMMA  &kp DOT  &kp FSLH  &none
                     &kp LCTRL  &mt LSHFT BSPC  &mo 1    &mo 2  &mt RSHFT SPACE  &kp RCTRL
            >;
        };

        lower_layer {
            // -------------------------------------------------------------------------------------
            // |      |  1  |  2  |  3  |  4  |  5  |         |  6  |  7  |  8  |  9  |  0  |      |
            // |      |     |     |     |     |     |         | LFT | DWN |  UP | RGT |     |      |
            // |      |     |     |     |     |     |         |     |     |     |     |     |      |
            //
            //                      | GUI |     | SPC |     | ENT |     | ALT |

            bindings = <
&none  &kp N1  &kp N2  &kp N3     &kp N4         &kp N5    &kp N6         &kp N7         &kp N8     &kp N9    &kp N0    &none
&none  &none   &none   &none      &none          &none     &kp RET        &kp LBRC       &kp RBRC   &kp LBKT  &kp RBKT  &none
&none  &kp LT  &kp GT  &none      &none          &none     &none          &none          &none      &none     &none     &none
                       &kp LCTRL  &mt LSHFT DEL  &mo 1     &kp RIGHT_ALT  &mt RSHFT RET  &kp RCTRL
            >;
        };

        raise_layer {
            // -------------------------------------------------------------------------------------
            // |      |  !  |  @  |  #  |  $  |  %  |         |  ^  |  &  |  *  |  (  |  )  |      |
            // |      |     |     |     |     |     |         |  -  |  =  |  [  |  ]  |  \  |      |
            // |      |     |     |     |     |     |         |  _  |  +  |  {  |  }  | "|" |      |
            //
            //                      | GUI |     | SPC |     | ENT |     | ALT |

            bindings = <
&none  &kp EXCL   &kp AT  &kp HASH   &kp DLLR       &kp PRCNT    &kp CARET  &kp AMPS         &kp KP_MULTIPLY  &kp LPAR   &kp RPAR  &none
&none  &kp PG_UP  &none   &none      &none          &kp TAB      &kp LEFT   &kp DOWN         &kp UP           &kp RIGHT  &none     &none
&none  &kp PG_DN  &none   &none      &none          &kp ESC      &none      &none            &none            &none      &none     &none
                          &kp LCTRL  &mt LSHFT DEL  &kp LGUI     &mo 2      &mt RSHFT SPACE  &kp RCTRL
            >;
        };
    };
};
