#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        umlaut_ae {
            bindings = <&kp APOS>;
            key-positions = <13 3>;
        };

        umlaut_oe {
            bindings = <&kp SEMI>;
            key-positions = <9 3>;
        };

        umlaut_ue {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <3 7>;
        };

        eszett {
            bindings = <&kp MINUS>;
            key-positions = <14 6>;
        };

        vb-esc {
            bindings = <&kp ESC>;
            key-positions = <28 29>;
        };

        hj-enter {
            bindings = <&kp ENTER>;
            key-positions = <18 19>;
        };

        fg-tab {
            bindings = <&kp TAB>;
            key-positions = <16 17>;
        };

        qw-esc {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
        };

        lgui {
            bindings = <&kp LGUI>;
            key-positions = <36 37>;
        };
    };

    behaviors {
        layer_dance: layer_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_DANCE";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&mo 2>, <&mo 3>, <&tog 4>, <&mo 5>;

            tapping-term-ms = <500>;
        };

        nb_plus_minus: nb_plus_minus {
            compatible = "zmk,behavior-tap-dance";
            label = "NB_PLUS_MINUS";
            #binding-cells = <0>;
            bindings = <&kp KP_PLUS>, <&kp KP_MINUS>;
        };

        nb_mul_div: nb_mul_div {
            compatible = "zmk,behavior-tap-dance";
            label = "NB_MUL_DIV";
            #binding-cells = <0>;
            bindings = <&kp KP_MULTIPLY>, <&kp KP_DIVIDE>;
        };

        l1_curlies: l1_curlies {
            compatible = "zmk,behavior-tap-dance";
            label = "L1_CURLIES";
            #binding-cells = <0>;
            bindings = <&kp RA(N7)>, <&kp RA(N0)>;
        };

        l1_brackets: l1_brackets {
            compatible = "zmk,behavior-tap-dance";
            label = "L1_BRACKETS";
            #binding-cells = <0>;
            bindings = <&kp RA(N8)>, <&kp RA(N9)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none  &kp Q  &kp W  &kp E      &kp R          &kp T        &kp Y         &kp U      &kp I      &kp O    &kp P     &none
&none  &kp A  &kp S  &kp D      &kp F          &kp G        &kp H         &kp J      &kp K      &kp L    &kp SEMI  &none
&none  &kp Z  &kp X  &kp C      &kp V          &kp B        &kp N         &kp M      &kp COMMA  &kp DOT  &kp FSLH  &none
                     &kp LCTRL  &kp BACKSPACE  &kp LSHFT    &layer_dance  &kp SPACE  &kp RCTRL
            >;
        };

        lower_layer {
            bindings = <
&none  &kp N1                &kp N2  &kp N3     &kp N4   &kp N5        &kp N6        &kp N7       &kp N8        &kp N9             &kp N0         &none
&none  &none                 &none   &none      &none    &kp TAB       &kp RET       &l1_curlies  &l1_brackets  &kp RIGHT_BRACKET  &kp BACKSLASH  &none
&none  &kp NON_US_BACKSLASH  &none   &none      &none    &kp ESC       &kp GRAVE     &none        &kp EQUAL     &kp DOT            &kp MINUS      &none
                                     &kp LCTRL  &kp DEL  &kp LSHIFT    &layer_dance  &kp SPACE    &kp RALT
            >;
        };

        raise_layer {
            bindings = <
&none  &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)         &kp LS(N6)  &kp LS(N7)    &kp LS(N8)  &kp LS(N9)  &kp LS(N0)  &none
&none       &kp HOME    &kp PG_UP   &none    &none          &kp PRINTSCREEN    &kp LEFT    &kp DOWN      &kp UP      &kp RIGHT   &none       &none
&none       &kp END     &kp PG_DN   &none  &none            &none              &none       &none         &none       &none       &none       &none
                               &none       &none       &none              &none       &layer_dance  &none
            >;
        };

        media_layer {
            bindings = <
&none  &none  &none  &none       &none       &none         &kp C_PREV    &kp C_NEXT    &none         &none  &none  &none
&none  &none  &none  &bt BT_PRV  &bt BT_NXT  &bt BT_CLR    &kp C_PP      &none         &none         &none  &none  &none
&none  &none  &none  &none       &none       &none         &kp K_MUTE    &kp C_VOL_DN  &kp C_VOL_UP  &none  &none  &none
                     &none       &none       &none         &layer_dance  &none         &none
            >;
        };

        num_layer {
            bindings = <
&none  &none  &none  &none  &none  &none    &none      &kp N7  &kp N8   &kp N9  &nb_plus_minus  &none
&none  &none  &none  &none  &none  &none    &kp ENTER  &kp N4  &kp N5   &kp N6  &nb_mul_div     &none
&none  &none  &none  &none  &none  &none    &none      &kp N1  &kp N2   &kp N3  &kp KP_EQUAL    &none
                     &none  &none  &none    &tog 4     &kp N0  &kp DOT
            >;
        };

        f_keys_layer {
            bindings = <
&none  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp F6        &kp F7  &kp F8  &kp F9  &kp F10  &none
&none  &none   &none   &none   &none   &none     &none         &none   &none   &none   &kp F11  &none
&none  &none   &none   &none   &none   &none     &none         &none   &none   &none   &kp F12  &none
                       &none   &none   &none     &layer_dance  &none   &none
            >;
        };
    };
};
