#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        qw-escape {
            bindings = <&kp ESC>;
            key-positions = <1 2>;
        };

        fg-tab {
            bindings = <&kp TAB>;
            key-positions = <17 16>;
        };

        umlaut_ae {
            bindings = <&kp APOS>;
            key-positions = <13 3>;
        };

        umlaut_oe {
            bindings = <&kp SEMI>;
            key-positions = <9 3>;
        };

        umlaut_ue {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <3 7>;
        };

        hj-enter {
            bindings = <&kp ENTER>;
            key-positions = <18 19>;
        };

        left-gui {
            bindings = <&kp LGUI>;
            key-positions = <37 38>;
        };

        right-alt {
            bindings = <&kp RALT>;
            key-positions = <39 40>;
        };
    };

    behaviors {
        layer_dance: layer_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_DANCE";
            #binding-cells = <0>;
            tapping-term-ms = <500>;
            bindings = <&mo 1>, <&mo 2>, <&mo 3>, <&mo 4>;
        };

        nb_plus_minus: nb_plus_minus {
            compatible = "zmk,behavior-tap-dance";
            label = "NB_PLUS_MINUS";
            #binding-cells = <0>;
            bindings = <&kp KP_PLUS>, <&kp KP_MINUS>;
        };

        nb_mul_div: nb_mul_div {
            compatible = "zmk,behavior-tap-dance";
            label = "NB_MUL_DIV";
            #binding-cells = <0>;
            bindings = <&kp KP_MULTIPLY>, <&kp KP_DIVIDE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // --------------------------------------------------------------------------------------
            // |      |  Q  |  W  |  E  |  R  |  T  |         |  Y  |  U   |  I  |  O  |  P  |      |
            // |      |  A  |  S  |  D  |  F  |  G  |         |  H  |  J   |  K  |  L  |  ;  |      |
            // |      |  Z  |  X  |  C  |  V  |  B  |         |  N  |  M   |  ,  |  .  |  /  |      |
            //
            //                      | GUI | LWR | SPC |     | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q  &kp W  &kp E      &kp R          &kp T        &kp Y         &kp U      &kp I      &kp O    &kp P     &none
&none  &kp A  &kp S  &kp D      &kp F          &kp G        &kp H         &kp J      &kp K      &kp L    &kp SEMI  &none
&none  &kp Z  &kp X  &kp C      &kp V          &kp B        &kp N         &kp M      &kp COMMA  &kp DOT  &kp FSLH  &none
                     &kp LCTRL  &kp BACKSPACE  &kp LSHFT    &layer_dance  &kp SPACE  &kp RCTRL
            >;
        };

        lower_layer {
            // -------------------------------------------------------------------------------------
            // |      |  1  |  2  |  3  |  4  |  5  |         |  6  |  7  |  8  |  9  |  0  |      |
            // |      |     |     |     |     |     |         | LFT | DWN |  UP | RGT |     |      |
            // |      |     |     |     |     |     |         |     |     |     |     |     |      |
            //
            //                      | GUI |     | SPC |     | ENT |     | ALT |

            bindings = <
&none  &kp N1  &kp N2  &kp N3     &kp N4   &kp N5        &kp N6        &kp N7          &kp N8          &kp N9          &kp N0          &none
&none  &none   &none   &none      &none    &kp TAB       &kp RET       &kp LS(LA(N7))  &kp LA(LS(N0))  &kp LS(LA(N8))  &kp LS(LA(N9))  &none
&none  &kp LT  &kp GT  &none      &none    &kp ESC       &none         &none           &none           &none           &none           &none
                       &kp LCTRL  &kp DEL  &kp LSHIFT    &layer_dance  &kp SPACE       &kp RCTRL
            >;
        };

        raise_layer {
            // -------------------------------------------------------------------------------------
            // |      |  !  |  @  |  #  |  $  |  %  |         |  ^  |  &  |  *  |  (  |  )  |      |
            // |      |     |     |     |     |     |         |  -  |  =  |  [  |  ]  |  \  |      |
            // |      |     |     |     |     |     |         |  _  |  +  |  {  |  }  | "|" |      |
            //
            //                      | GUI |     | SPC |     | ENT |     | ALT |

            bindings = <
&none  &kp EXCL  &kp AT     &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET     &kp AMPS      &kp KP_MULTIPLY  &kp LPAR    &kp RPAR          &none
&none  &kp HOME  &kp PG_UP  &none     &none     &none        &kp LEFT      &kp DOWN      &kp UP           &kp RIGHT   &kp C_PLAY_PAUSE  &none
&none  &kp END   &kp PG_DN  &none     &none     &none        &kp K_MUTE    &kp C_VOL_DN  &kp C_VOL_UP     &kp C_PREV  &kp C_NEXT        &none
                            &none     &none     &none        &layer_dance  &none         &none
            >;
        };

        num_layer {
            bindings = <
&none  &none  &none  &none  &none  &none    &none         &kp KP_N7        &kp KP_N8     &kp KP_N9  &nb_plus_minus  &none
&none  &none  &none  &none  &none  &none    &kp KP_ENTER  &kp KP_N4        &kp KP_N5     &kp KP_N6  &nb_mul_div     &none
&none  &none  &none  &none  &none  &none    &none         &kp KP_N1        &kp KP_N2     &kp KP_N3  &kp KP_EQUAL    &none
                     &none  &none  &none    &layer_dance  &kp KP_NUMBER_0  &kp KP_COMMA
            >;
        };

        f_keys_layer {
            bindings = <
&none  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp F6        &kp F7  &kp F8  &kp F9  &kp F10  &none
&none  &none   &none   &none   &none   &none     &none         &none   &none   &none   &kp F11  &none
&none  &none   &none   &none   &none   &none     &none         &none   &none   &none   &kp F12  &none
                       &none   &none   &none     &layer_dance  &none   &none
            >;
        };
    };
};
